* {
	box-sizing: border-box;
	font-family: 'Coda', sans-serif;
}
header, footer {
	text-align: center;
	background: transparent;
}
footer {
	position: absolute;
	bottom: 0;
}
body, html {
	background-color: red;
}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
button {
	background-color: #00CEBA;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
button:active {
	background-color: rgb(25, 136, 125);
}
.counter-container {
	width: 300px;
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.deck {
	width: 300px;
	height: 300px;
	border-radius: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
	background: linear-gradient(45deg, rgba(0, 206, 186, .6), rgba(174, 124, 210, .6));
}
.completed-container {
	display: none;
	width: 300px;
	height: 300px;
	border-radius: 15px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.flip-deck {
	perspective: 1000px;
	transition: 0.6s;
}
.flip-deck.flip .card {
	transform: rotateY(180deg);
}
.flip-deck, .front, .back {
	width: 60px;
	height: 60px;
	border-radius: 15px;
	cursor: pointer;
}
.card {
	transition: 0.6s;
	transform-style: preserve-3d;
	width: 60px;
	height: 60px;
	position: relative;
}
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
	background: #2E3C47;
}
.back {
	transform: rotateY(180deg);
	background: #12C1DF;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	color: whitesmoke;
	font-size: 30px;
}
.reset {
	cursor: pointer;
	font-size: 40px;
}
@media screen and (min-width: 500px) {
	.counter-container {
		width: 500px;
		height: 50px;
		display: flex;
	}
	.deck {
		width: 500px;
		height: 500px;
	}
	.completed-container {
		width: 500px;
		height: 500px;
	}
	.flip-deck, .front, .back {
		width: 105px;
		height: 105px;
	}
	.card {
		width: 105px;
		height: 105px;
	}
	.back {
		line-height: 105px;
		font-size: 40px;
	}
}
@media screen and (min-width: 700px) {
	.counter-container {
		width: 600px;
		height: 50px;
		display: flex;
	}
	.deck {
		width: 600px;
		height: 600px;
	}
	.completed-container {
		width: 600px;
		height: 600px;
	}
	.flip-deck, .front, .back {
		width: 120px;
		height: 120px;
	}
	.card {
		width: 120px;
		height: 120px;
	}
	.back {
		line-height: 120px;
		font-size: 40px;
	}
}
@media screen and (min-width: 1000px) {
	.counter-container {
		width: 700px;
		height: 50px;
		display: flex;
	}
	.deck {
		width: 700px;
		height: 700px;
	}
	.completed-container {
		width: 700px;
		height: 700px;
	}
	.flip-deck, .front, .back {
		width: 150px;
		height: 150px;
	}
	.card {
		width: 150px;
		height: 150px;
	}
	.back {
		line-height: 150px;
		font-size: 60px;
	}
}
